body, html {
	height: 99%;
}

#map {
	height: 600px;
}

.vehicleMarker {
	border: 3px solid white;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	color: white;
	line-height: 30px;
	text-align: center;
}

.vehicleMarker div:before {
	border-right: 6px solid black;
	border-right-color: black;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	position: absolute;
	top: 11px;
	left: -9px;
	content: "";
}

.Bus {
	background: #007ac9;
}

.Tram {
	background: #00985f;
}

.Train {
	background: #8c4799;
}

.Metro {
	background: #ff6319;
}

.Ferry {
	background: #bee4f8;
}
